<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="MestreMage_OneStepCheckout" frontName="mestremage_onestepcheckout">
            <module name="MestreMage_OneStepCheckout"/>
        </route>
    </router>
</config>